:root {
  --navy-blue: #101828;
  --dark-red: rgb(172, 5, 5);
}

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  color: white;
}

body {
  background-color: var(--navy-blue);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

h1 {
  color: white;
}

.add-book {
  background-color: green;
  padding: 8px 12px;
  border-radius: 3px;
  font-size: 1.25rem;
  margin-top: 1em;
}

#library {
  padding: 2em;
  display: grid;
  grid-template: repeat(auto-fit, 200px) / repeat(auto-fit, minmax(500px, 1fr));
  gap: 2em;
}

.card {
  transition: width 1s;
  position: relative;
  background-color: white;
  border-radius: 7px;
  display: flex;
}

.card__highlight {
  background-color: lightblue;
  width: 25%;
}

.card__info {
  padding: 1em;
  width: 75%;
}

.card__header {
  width: 100%;
  display: flex;
  gap: 1em;
}

#card__title,
#card__author {
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

#card__title {
  font-size: 2rem;
  max-width: 50%;
}

#card__author {
  font-size: 1.25rem;
  max-width: 50%;
  margin-top: 8px;
}

.card__subheader {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.card__toggle-read {
  border-radius: 100%;
  width: 22px;
  height: 22px;
}

.toggled-check{
  background-color: rgb(13, 118, 189);
}

.toggled-circle-xmark {
  color: rgb(139, 2, 2);
  font-size: 1.35rem;
}

.card__remove-btn {
  position: absolute;
  right: 1em;
  top: 1em;
}

.card__remove-btn .fa-circle-xmark {
  color: var(--dark-red);
  font-size: 2rem;
}

form {
  position: fixed;
  left: 35%;
  top: 25%;
  background-color: white;
  padding: 1em;
  width: 500px;
}

form button {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 3px;
}

fieldset {
  padding: 1em;
}

.form__book-details label {
  display: block;
  margin-bottom: 0.5em;
}

.form__book-details input{
  width: 80%;
}

input {
  outline: none;
  padding: 5px 15px;
  margin-bottom: 0.5em;
  font-size: 1rem;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form__submit-btn {
  background-color: rgb(3, 128, 13);
}

.form__close-btn {
  background-color: var(--dark-red);
}